h1 {
    text-align: center;
    font-size: 34px;
}

.image-wrapper {
    text-align: center;
}

ul li {
    padding: 5px;
    list-style-type: none;
    background-color: #f1ffeb;
    border-bottom: 1px solid #d4d4d4;
}

ul li a {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    color: #333;
}

ol li {
    padding: 5px;
    background-color: #feffeb;
    border-bottom: 1px solid #d4d4d4;
}

section {
    border-bottom: 1px solid #999;
}

p {
    text-indent: 20px;
}

.back-main {
    margin-top:10px;
    padding-left: 15px;
}
